@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', t; 
  font-size: large;
  background-color:aquamarine;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
  }
   .class-btn{
    width:200px;
    min-height: 40px;
    cursor: pointer;
}
.class-btn:hover{
    background-color: black;
    color:aliceblue;
}